{{ $ordinal := .Ordinal }}
{{ $items := (split .Inner "</li>")}}
{{ $itemsNum := (sub (len $items) 1) }}
{{ $class := (.Get "class") }}
<!-- Carousel js and css -->
{{ $scripts := resources.Get "/js/carousel.js" }}
<script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>
{{ $styles := resources.Get "/css/carousel.css" }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" />

<!-- For embedding pdf -->
<script type="text/javascript" src="/js/pdfobject.min.js"></script>

<div id="carousel{{ .Ordinal }}" class="carousel not-prose mx-auto {{$class}}" duration="{{ .Get `duration` }}">
    <ul class="rounded-lg">
      {{ range $_index, $_ele := $items }}
      {{$_ele := replace $_ele "_slide" (print "_slide" (add $_index 1)) 1}}
      {{safeHTML (print $_ele "</li>")}}
      {{ end }}
    </ul>
    {{ if gt $itemsNum 1 }}
    <ol>
      {{ range $index, $num := (seq $itemsNum) }}
        <li><a href="#c{{ $ordinal }}_slide{{ add $index 1 }}"></a></li>
      {{ end }}
    </ol>
    <div class="prev">&lsaquo;</div>
    <div class="next">&rsaquo;</div>
    {{ end }}
</div>
