{{- $src := .Get "src" -}} {{- $title := .Get "title" -}} {{ $index := .Get "index"}} {{- with .Parent -}} {{
$class := .Get "itemClass"}} {{ $ordinal := .Ordinal }}
<li
  id="c{{ $ordinal }}_slide{{$index}}"
  class="{{ $class }}"
>
  <iframe
    src="{{ $src }}?rel=0"
    title="{{ $title }}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</li>
{{- else -}}
<iframe
  src="{{ $src }}?rel=0"
  title="{{ $title }}"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
></iframe>
{{- end -}}
