<div class="mt-4 flex flex-col items-center pt-8 pb-6 lg:pt-8 lg:pb-6">
    <div class="mt-2 flex space-x-4">
        <a href="https://github.com/Jasperabez">{{ partial "fontawesome_footer.html" "github" }}</a>
        <a href="https://www.linkedin.com/in/jabez-tho-6b49a0184">{{ partial "fontawesome_footer.html" "linkedin" }}</a>
        <a href="mailto:jabeztho@gmail.com">{{ partial "fontawesome_footer.html" "envelope" }}</a>
    </div>
    <span class="mt-2 font-light text-xs">© 2022 Jabez Tho</span>
</div>