{{$selected_class:= "bg-blue"}}
<div class="flex items-center pb-10 pt-7">
  <div class="mx-auto sm:mr-8">
    {{partial "header_nav_item.html" (dict "name" "Home" "href" "/" "selected"
    .IsHome)}} {{partial "header_nav_item.html" (dict "name" "Blog" "href"
    "/blog" "selected" (eq .Section "blog"))}} {{partial "header_nav_item.html"
    (dict "name" "Projects" "href" "/projects" "selected" (eq .Section
    "projects"))}} {{partial "header_nav_item.html" (dict "name" "About" "href"
    "/about" "selected" (eq .Section "about"))}}
  </div>
</div>
