<div class="py-6 lg:-mx-12 flex flex-wrap justify-center gap-y-6">
  {{ range .Pages }}
  {{ $image := .Resources.GetMatch .Params.thumbnail }}
  {{ if not $image }}
  {{ $image = resources.Get (path.Join .RelPermalink .Params.thumbnail) }}
  {{ end }}
  {{ $image := $image.Resize "600x" }}
  <div class="flex-col md:basis-1/2 lg:basis-1/3 px-3">
    <div
      class="overflow-hidden h-full grid grid-row rounded-md border-2 shadow-xl border-zinc-100 border-opacity-60 dark:border-zinc-800"
    >
      <a class="h-full w-auto" href="{{.Permalink}}">
        <img class="object-cover object-center max-h-60 md:h-60 lg:h-48 xl:h-64 w-full" src="{{ $image.RelPermalink }}"/>
      </a>
      <div class="p-6">
        <h2 class="mb-3 text-2xl font-bold leading-8 tracking-tight">
          <a href="{{.Permalink}}">{{.Title}}</a>
        </h2>
        <p
          class="prose mb-3 max-w-none text-gray-500 line-clamp-3 dark:text-gray-400"
        >
          {{.Description}}
        </p>
        <a
          class="group text-base font-medium leading-6 text-sky-700 dark:text-sky-400"
          href="{{.Permalink}}"
          >Learn more →
          <img class="w-6 h-6 inline-block invisible group-hover:visible" src="../favicon.ico"/>
          </a
        >
      </div>
    </div>
  </div>
  {{ end }}
</div>
